<div class="show">
<center>
<table style="width:50%">
  <tr>
    <th><H1><%=@author.name %></h1></th>
  </tr><tr></tr>
  <tr>
    <td><center><%= @author.biography %></center></td>
  </tr><tr></tr>
  <tr>
    <td>
      <center>
        <font>Books by this author:</font><br><br>
        <% @author.books.each do |book| %>
        <%= book.title %><br>
        <% end %>
      </center>
    </td>
  </tr>
  <tr>
      <td>
        <center>
          <%= link_to "Return to author list", authors_path %>
          <font>or</font>
          <%= link_to "Edit this page", edit_author_path(@author) %>
        </center>
      </td>
  </tr>
</table>
</center>
</div>
