<h1>Listing Books</h1>
<div class="border">
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><center><%= book.title %></center></td>
    <% if book.author.present? %>
      <td><center><%= book.author.name %></center></td>
    <% else %>
      <td><center>No author defined</center></td>
    <% end %>
    <td><%= book.description %></td>
    <td><%= book.price %></td>
    <td><%= link_to "Show", book %></td>
    <td><%= link_to "Edit", edit_book_path(book) %></td>
    <td><%= link_to "Remove", book, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
</div>

<br>

<center>
  <%= link_to "Visit our list of authors", authors_path %>
  <font>or</font>
  <%= link_to "Add a new book", new_book_path %>
</center>
